Repository ChittalaUday/final-year-project: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dart format, black

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,html,css,scss,md,json,yaml,yml,prisma}": "prettier --write",
  "*.dart": "dart format",
  "*.py": "black"
}

chore: husky setup
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: added onbording flow and read me for reasearch
  other_test_files/on-boarding-hiererical.png
  other_test_files/on-boarding.png
  research/README.md
Due: prettier --write

chore: added flow diagrams
  other_test_files/flow-diagram/Project-Flow-layout.png
  other_test_files/flow-diagram/Project-Flow.png
  other_test_files/flow-diagram/on-boarding-hiererical.png
  other_test_files/flow-diagram/on-boarding.png
Due: none

feat: added on-boarding guide
  onboarding-api-guide.md
Due: prettier --write

fix: changes the name
  ON BOARDING GUIDE.md
Due: prettier --write

fix: name change
  ON_BOARDING_GUIDE.md
Due: prettier --write

chore: added seeders
  README.md
  package.json
  research/career-recommendation-dataset-notebook.ipynb
  server/package.json
  server/prisma/README.md
  server/prisma/migrations/20260110211317_first/migration.sql
  server/prisma/schema.prisma
  server/prisma/seed.ts
Due: prettier --write

fix: updated pretierrc for prisma
  .prettierrc
Due: none

feat(backend): standardise api responses and implement joi validation
  README.md
  package.json
  server/PROGRESS.md
  server/README.md
  server/index.ts
  server/package-lock.json
  server/package.json
  server/prisma/migrations/20250917123554_init/migration.sql
  server/prisma/migrations/20251010144349_init/migration.sql
  server/prisma/migrations/20260110211317_first/migration.sql
  server/prisma/mongodb/schema.prisma
  server/prisma/postgres/migrations/20260110214515_skill_compass_init/migration.sql
  server/prisma/postgres/migrations/20260110220417_modular_multi_schema_init/migration.sql
  server/prisma/postgres/migrations/migration_lock.toml
  server/prisma/postgres/schema.prisma
  server/prisma/schema.prisma
  server/prisma/seed.ts
  server/src/config/db.postgres.ts
  server/src/config/db.ts
  server/src/controllers/auth.controller.ts
  server/src/controllers/clip.controller.ts
  server/src/controllers/onboarding.controller.ts
  server/src/controllers/users.controller.ts
  server/src/middleware/validate.middleware.ts
  server/src/routes/api/auth.route.ts
  server/src/routes/api/onboarding.route.ts
  server/src/routes/app.routes.ts
  server/src/services/learningPath.service.ts
  server/src/services/ml.service.ts
  server/src/validations/auth.validate.ts
  server/src/validations/auth.validation.ts
  server/src/validations/onboarding.validate.ts
  server/tests/e2e_onboarding.test.ts
Due: prettier --write

feat: updated the apis in fast api
  fastapi_server/app/api/v1/career.py
  fastapi_server/app/models/career.py
  fastapi_server/app/services/career_service.py
  fastapi_server/create_encoders.py
  fastapi_server/requirements.txt
Due: black

fix: fixed dome files
  package.json
  research/Models/mlb_interest.pkl
  research/Models/mlb_skills.pkl
  server/src/config/db.ts
  server/src/controllers/auth.controller.ts
  server/src/services/ml.service.ts
  server/tests/robust_onboarding.test.ts
Due: prettier --write

feat: added some
  package.json
  server/index.ts
  server/src/config/db.ts
  server/src/services/ml.service.ts
  server/tests/robust_onboarding.test.ts
Due: prettier --write
